<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280997976882-7oaar3ipes0j3hbdt1qkgtjk4b90o08i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280997976882-7oaar3ipes0j3hbdt1qkgtjk4b90o08i</string>
	<key>API_KEY</key>
	<string>AIzaSyDD_qyO76qXTDwFO1Yl1vkVSmceii-NPls</string>
	<key>GCM_SENDER_ID</key>
	<string>280997976882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.224apps.InstagramMock</string>
	<key>PROJECT_ID</key>
	<string>instagrammock-0001</string>
	<key>STORAGE_BUCKET</key>
	<string>instagrammock-0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280997976882:ios:c5977d0d13a1385d48152b</string>
</dict>
</plist>